# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Dynaconf
.settings* 

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
